<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1><%= exerciseName %></h1>
    <br>
    <h1><%= exerciseBodyPart %></h1>
  </body>
</html>
