<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form class="create-form" action="/created-exercise" method="post">
      <label for="exerciseName">Exercise Name</label>
      <input type="text" name="exerciseName" value="">
      <br>
      <label for="exerciseBodyPart">Body Part</label>
      <br>
      <label for="">Chest</label>
      <input type="checkbox" name="exerciseBodyPart" value="chest">
      <br>
      <label for="">Legs</label>
      <input type="checkbox" name="exerciseBodyPart" value="legs">
      <br>
      <label for="">Arms</label>
      <input type="checkbox" name="exerciseBodyPart" value="arms">
      <br>
      <label for="">Shoulders</label>
      <input type="checkbox" name="exerciseBodyPart" value="shoulders">
      <input type="submit" name="submit" value="submit">
    </form>
  </body>
</html>
