<!DOCTYPE html>
<html>
  <head>
    <title>Results</title>
  </head>
  <body>
    <ul>
      <% for(var i = 0; i < exerciseName.length; i++){ %>
        <li><%= exerciseName[i].exerciseName %></li>
      <% } %>
    </ul>
  </body>
</html>
